<!doctype html>
<html class="no-js">
<head>
	<link rel="stylesheet" href="assets/css/amazeui.min.css"/>
	<link rel="stylesheet" href="assets/css/admin.css">
</head>
<body style="width: 100%;height: 100%;">
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>欢迎你！</small></div>
    </div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
    <div class="am-g ">
    	<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
			<h1>主页</h1>
	    	<h2>------</h2>
	    	<h1>----------</h1>
    	</div>
	</div>


  </div>
</body>
</html>