<!doctype html>
<html class="no-js">
<head>
	<link rel="stylesheet" href="${rootPath}/assets/css/amazeui.min.css"/>
	<link rel="stylesheet" href="${rootPath}/assets/css/admin.css">
</head>
<body>
<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
      	<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">操作</strong> / <small>简介</small></div>
    </div>
    <hr/>
    <div class="am-g">
		<div class="am-u-sm-12 am-u-sm-centered">
	        <h2>一、定义</h2>
	        <p>①、<strong>添加根菜单</strong>：即为根目录菜单，无父级。</p>
	        <p>②、<strong>选中菜单</strong>：点击菜单树的某菜单，即选中了某一个菜单。</p>
	        <hr/>
		</div>

      	<div class="am-u-sm-12 am-u-sm-centered">
        	<h3>二、操作</h3>
          	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击菜单树的某菜单，在右边就可以进行修改相应的信息。除“添加超级管理员”以外，其他功能操作都需要选中菜单。</p>
      </div>
    </div>
</div>
<!-- content end -->

</body>
</html>
